.contactpage {
  display: flex;
}

h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 66px;
  text-align: center;
  color: #004a8e;
}

h1 span {
  color: #0868c0;
}

input,
textarea {
  background: #ffffff;
  border: 1px solid #c2c2c2;
  border-radius: 9px;
  height: 50px;
  width: 45%;
  text-align: left;
  margin-bottom: 20px;
  margin-right: 10px;
  outline: none;
  padding-left: 14px;
}

form {
  display: block;
  justify-content: center;
  align-items: center;
  flex: 8;
  padding-right: 10px; /* Add left margin */
}

::placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  text-align: left;
  margin-left: 20px;
  color: #c2c2c2;
}

textarea {
  height: 200px;
}

button {
  background: #004a8e;
  border-radius: 11px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
  padding: 15px;
  border: none;
  padding-left: 30px;
  padding-right: 30px;
}

input:focus,
textarea:focus {
  box-shadow: 3px 4px 23px rgba(0, 0, 0, 0.11);
}

@media screen and (max-width: 985px) {
  form {
    flex: 1;
    margin-top: 20px;
    margin-left: -10px;
    margin-right: 10px;
}
  }

  input,
  textarea {
 
    max-width: 100%;
  }

  button {
    margin-left: 0;
  }


@media screen and (max-width: 742px) {
  .contactpage {
    flex-direction: column;
    align-items: center;
  }

  form {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 100%;
    
  }
}
@media screen and (max-width: 400px) {
  .contactpage {
    flex-direction: column;
    align-items: center;
  }

  form {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 100%;
    
  }
}
