body.light{
    --darkback:white;
    --textcolor:#555;
    --textcolor2:#0c2e8a;
    --textcolor3:#000;
    --postborder:transparent;
    --box-anchor:#444;
    --hover-color1:#081e5b;
    --section-header: #0c2e8a;
    --border-color:rgba(0, 0, 0, 0.168);
    --color1:rgba(249,24,128);
    --color2:#2796FF;
    --color3:rgba(255,122,0);
    --color4:rgba(0,186,124);
    --bar:white;
    --footer:#f2f5f8;
}
body.dark{
    --darkback:#243447;
    --textcolor:white;
    --textcolor2:#2796FF;
    --postborder:#657786;
    --box-anchor:#F5F8FA;
    --section-header: white;
    --textcolor3:white;
    --hover-color1:#c9d5f9;
    --border-color:rgba(167, 165, 165, 0.168);
    --bar:#141d26;
    --footer:#141d26;
}

body{
    background-color: var(--darkback);
    transition: 500ms;
}



#about .content h2 {
    color: var(--textcolor2);
   
}

#about .content h3 {
    color:var(--textcolor);
    
}

/* Back To Top Button in dark mode */

.back-to-top-dark {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 50px;
    z-index: 996;
    background: #042c52;
    width: 40px;
    height: 40px;
    transition: opacity 0.3s ease;
    animation: none;
    border: 3px solid #fff;
    border-radius: 0.2rem;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
  }
  
  
  .back-to-top-dark i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
    transition: opacity 0.3s ease;
  }
  
  .back-to-top-dark:hover {
    background: #1d5181;
    color: #fff;
  }
  
  .back-to-top-dark.active {
    visibility: visible;
    opacity: 1;
  }
  

body.light .card-heading {
  color: var(--footer);
  background-image: linear-gradient(to right, #0c2e8a, #6da6db);
}

body.light .view-btn {
    color: var(--footer);
}

body.light .viewRepo {
    background-color: #051b5a;
    border-top: 1px solid #87bef1;
}

body.light .hacktober-heading {
    color: #081e5b;
}

body.light .card {
    background-color: #eff2f5;
}
