body.light{

    --darkback:white;
    --textcolor:#555;
    --textcolor2:#0c2e8a;
    --textcolor3:#000;
    --postborder:transparent;
    --box-anchor:#444;
    --hover-color1:#081e5b;
    --section-header: #0c2e8a;
    --border-color:rgba(0, 0, 0, 0.168);
    --color1:rgba(249,24,128);
    --color2:#2796FF;
    --color3:rgba(255,122,0);
    --color4:rgba(0,186,124);
    --bar:white;
    --footer:#f2f5f8;
}
body.dark{
    --darkback:#243447;
    --textcolor:white;
    --textcolor2:#2796FF;
    --postborder:#657786;
    --box-anchor:#F5F8FA;
    --section-header: white;
    --textcolor3:white;
    --hover-color1:#c9d5f9;
    --border-color:rgba(167, 165, 165, 0.168);
    --bar:#141d26;
    --footer:#141d26;
}

body{
    background-color: var(--darkback);
    transition: 500ms;
}



#about .content h2 {
    color: var(--textcolor2);
   
}

#about .content h3 {
    color:var(--textcolor);
    
}
footer{
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  footer .social_icon,footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  footer .social_icon li,footer .menu li{
    list-style: none;
  }
  footer .social_icon li a{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  footer .social_icon li a:hover{
    transform: translateY(-10px);
  }
  footer .menu li a{
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
  }
  footer .menu li a:hover{
    opacity: 1;
  }  
  footer .menu li{
    transition: transform 0.5s;
  }
  footer .menu li:hover{
    left: 10px;
    transform: scale(1.2);
  }
  footer p{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
  }
  footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("/images/wave.png");
    background-size: 1000px 100px;
  }
