body.light{
    --darkback:white;
    --textcolor:#555;
    --textcolor2:#0c2e8a;
    --textcolor3:#000;
    --postborder:transparent;
    --box-anchor:#444;
    --hover-color1:#081e5b;
    --section-header: #0c2e8a;
    --border-color:rgba(0, 0, 0, 0.168);
    --color1:rgba(249,24,128);
    --color2:#2796FF;
    --color3:rgba(255,122,0);
    --color4:rgba(0,186,124);
    --bar:white;
    --footer:#f2f5f8;
    --service: linear-gradient(#47A992, #98EECC);
    --icon : linear-gradient(45deg, #2796ff 30%, #0c2e8a 70%);
}
body.dark{
    --darkback:#243447;
    --textcolor:white;
    --textcolor2:#2796FF;
    --postborder:#657786;
    --box-anchor:#F5F8FA;
    --section-header: white;
    --textcolor3:white;
    --hover-color1:#c9d5f9;
    --border-color:rgba(167, 165, 165, 0.168);
    --bar:#141d26;
    --footer:#141d26;
    --service: linear-gradient(black, #025464);
    --icon: linear-gradient(45deg, #2796ff 30%, #4d85b9 70%);
}

body{
    background-color: var(--darkback);
    transition: 500ms;
}



#about .content h2 {
    color: var(--textcolor2);
   
}

#about .content h3 {
    color:var(--textcolor);
    
}
