.enquiry{
 justify-content: center;
 align-items: center;
 display: flex;
}

.enquiry-form{
    background: #2796FF;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 800px;
    border-radius: 10px;
    margin: 4vw;
}

.enquiry-form .title{
    color: white;
    text-align: left;
    font-weight: 800;
    font-size: 20pt;
    margin-bottom: 20px;
}

.enquiry-form input,textarea{
    margin: 10px 0;
    padding: 15px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
}

.enquiry-form button{
    padding: 15px;
    background: #081e5b;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}