.enquiry{
 justify-content: center;
 align-items: center;
 display: flex;
 z-index: -1;
}

.enquiry-form{
    display: flex;
    background-color: #050b1f;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 1000px;
    border-radius: 10px;
    margin: 0 4vw 4vw ;
}

.enquiry-form .title{
    color: white;
    text-align: left;
    font-weight: 800;
    font-size: 20pt;
    margin-bottom: 20px;
}

.enquiry-form span {
    color: #2796ff;
}

.enquiry-form input,textarea{
    margin: 10px 0;
    padding: 15px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
}

.enquiry-form button{
    padding: 15px;
    background: #fff;
    color: #000;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 10px;
}