/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

body {
  background: #fff;
  color: #444;
  font-family: "Poppins", sans-serif;
}

a {
  color: #2796ff;
  text-decoration: none;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #2796ff;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #2796ff;
  width: 40px;
  height: 40px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #2796ff;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  height: 80px;
  transition: all 0.5s;
  z-index: 997;
  background: var(--bar);
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
}

#header #logo h1 {
  font-size: 42px;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

#header #logo h1 a {
  color: #0c2e8a;
}

#header #logo h1 a span {
  color: #2796ff;
}

#header #logo img {
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  #header {
    height: 70px;
  }

  #header #logo h1 {
    font-size: 34px;
  }

  #header #logo img {
    max-height: 40px;
  }
}

.scrolled-offset {
  margin-top: 70px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/**
* Desktop Navigation 
*/

.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;

  font-weight: 600;
  color: var(--box-anchor);

  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #2796ff;
}

.darkmode {
  margin-left: 1em;

  font-size: 1.3em;
  transform: translateY(3px) rotateZ(0deg);
  transition: 400ms;
  color: var(--box-anchor);
  cursor: pointer;
}

.darkmode:hover {
  animation: anim-one 2s linear infinite forwards;
}

@keyframes anim-one {
  0% {
    transform: translateY(3px) rotateZ(0deg);
  }

  25% {
    transform: translateY(3px) rotateZ(20deg);
  }

  50% {
    transform: translateY(3px) rotateZ(0deg);
  }

  75% {
    transform: translateY(3px) rotateZ(-20deg);
  }

  100% {
    transform: translateY(3px) rotateZ(0deg);
  }
}

/**
* Mobile Navigation 
*/

.mobile-nav-toggle {
  color: #0c2e8a;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }

  .darkmode:hover {
    animation: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(8, 30, 91, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #0c2e8a;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: #2796ff;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: #2796ff;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero {
  width: 100%;
  height: 60vh;
  position: relative;
  background: url("../img/hero-carousel/1.jpg") no-repeat;
  background-size: cover;
  padding: 0;
}

#hero .hero-content {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#hero .hero-content h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 64px;
  font-weight: 700;
}

#hero .hero-content h2 span {
  color: #2796ff;
  text-decoration: underline;
}

@media (max-width: 767px) {
  #hero .hero-content h2 {
    font-size: 34px;
  }
}

#hero .hero-content .btn-get-started,
#hero .hero-content .btn-projects {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
}

#hero .hero-content .btn-get-started {
  background: #0c2e8a;
  border: 2px solid #0c2e8a;
}

#hero .hero-content .btn-get-started:hover {
  background: none;
  color: #0c2e8a;
}

#hero .hero-content .btn-projects {
  background: #2796ff;
  border: 2px solid #2796ff;
}

#hero .hero-content .btn-projects:hover {
  background: none;
  color: #2796ff;
}

#hero .hero-slider {
  z-index: 8;
  height: 60vh;
}

#hero .hero-slider::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 7;
}

#hero .hero-slider .swiper-slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition-property: opacity;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

section {
  padding: 40px 0;
  overflow: hidden;
}

/* Sections Header
--------------------------------*/

.section-header {
  margin-bottom: 30px;
}

.section-header h2 {
  font-size: 32px;
  color: var(--section-header);
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  padding-bottom: 20px;
}

.section-header h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #2796ff;
  bottom: 0;
  left: 0;
}

.section-header p {
  padding: 0;
  margin: 0;
  color: var(--textcolor);
}

/* About Section
--------------------------------*/

#about {
  padding: 60px 0 30px 0;
}

#about .about-img {
  overflow: hidden;
}

#about .about-img img {
  margin-left: -15px;
  max-width: 100%;
}

@media (max-width: 768px) {
  #about .about-img {
    height: auto;
  }

  #about .about-img img {
    margin-left: 0;
    padding-bottom: 30px;
  }
}

#about .content h2 {
  color: #0c2e8a;
  font-weight: 700;
  font-size: 36px;
  font-family: "Raleway", sans-serif;
}

#about .content h3 {
  color: #555;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  padding: 0.5rem 0;
  line-height: 1.8;
  /* font-style: italic; */
}

/* Services Section
--------------------------------*/

#services {
  padding: 40px 0;
}

#services .box {
  padding: 40px;
  box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
  background: var(--darkback);
  border: 4px solid var(--postborder);
  transition: 0.4s;
  height: 100%;
}

#services .box:hover {
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
}

#services .box .icon {
  float: left;
}

#services .box .icon i {
  color: #444;
  font-size: 64px;
  transition: 0.5s;
  line-height: 0;
  margin-top: 34px;
}

#services .box .icon i:before {
  background: #0c2e8a;
  background: linear-gradient(45deg, #2796ff 0%, #4d85b9 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#services .box h4 {
  margin-left: 100px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 22px;
}

#services .box h4 a {
  color: var(--box-anchor);
}

#services .box p {
  font-size: 14px;
  margin-left: 100px;
  margin-bottom: 0;
  line-height: 24px;
  color: var(--textcolor);
}

@media (max-width: 767px) {
  #services .box .box {
    margin-bottom: 20px;
  }

  #services .box .icon {
    float: none;
    text-align: center;
    padding-bottom: 15px;
  }

  #services .box h4,
  #services .box p {
    margin-left: 0;
    text-align: center;
  }
}

/* Testimonials Section
--------------------------------*/

#testimonials {
  padding: 30px 0;
}

#testimonials .testimonials-carousel,
#testimonials .testimonials-slider {
  overflow: hidden;
}

#testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 50px 50px 0 50px;
  margin: 30px 15px;
  text-align: center;
  min-height: fit-content;
  box-shadow: 0px 2px 12px var(--border-color);
}

@media (max-width: 767px) {
  #testimonials .testimonial-item {
    margin: 30px 10px;
  }
}

#testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}

#testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: var(--textcolor3);
}

#testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

#testimonials .testimonial-item .quote-sign-left {
  margin-top: -15px;
  padding-right: 10px;
  display: inline-block;
  width: 37px;
}

#testimonials .testimonial-item .quote-sign-right {
  margin-bottom: -15px;
  padding-left: 10px;
  display: inline-block;
  max-width: 100%;
  width: 37px;
}

#testimonials .testimonial-item p {
  margin: 0 auto 15px auto;
  color: var(--textcolor3);
}

#testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

#testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #2796ff;
}

#testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #2796ff;
}

/* Call To Action Section
--------------------------------*/

#call-to-action {
  background: #081e5b;
  background-size: cover;
  padding: 40px 0;
}

#call-to-action .cta-title {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

#call-to-action .cta-text {
  color: #fff;
}

@media (min-width: 769px) {
  #call-to-action .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

#call-to-action .cta-btn {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 26px;
  border-radius: 3px;
  transition: 0.5s;
  margin: 10px;
  border: 3px solid #fff;
  color: #fff;
}

#call-to-action .cta-btn:hover {
  background: white;
  /* border: 3px solid #2796FF; */
  color: #081e5b;
  /* font-weight: 700; */
}

/* Contact Section
--------------------------------*/

#contact {
  padding: 30px 0;
}

#contact .contact-info {
  margin-bottom: 20px;
  text-align: center;
}

#contact .contact-info i {
  font-size: 48px;
  display: inline-block;
  margin-bottom: 10px;
  color: #2796ff;
}

#contact .contact-info i:hover {
  color: var(--hover-color1);
}

#contact .contact-info h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #999;
}

#contact .contact-info a {
  color: var(--textcolor3);
}

#contact .contact-info a:hover {
  color: #2796ff;
}

#contact .contact-address,
#contact .contact-phone,
#contact .contact-email {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  #contact .contact-address,
  #contact .contact-phone,
  #contact .contact-email {
    padding: 20px 0;
  }
}

@media (min-width: 768px) {
  #contact .contact-phone {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }

  #contact .contact-email {
    border-right: 1px solid #ddd;
  }
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  background: var(--footer);
  padding: 0 0 30px 0;
  font-size: 14px;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
  color: var(--textcolor);
}

/*--------------------------------------------------------------
# Hacktoberfest Page
--------------------------------------------------------------*/
* {
  padding: 0;
  margin: 0;
}
.hacktoberfest-btn,
.navbar-mobile .hacktoberfest-btn {
  background-color: #0c2e8a;
  color: #fff;
}
.hacktoberfest-btn:hover {
  background-color: transparent;
}
.navbar ul > :nth-child(6) a {
  padding: 10px 12px;
  margin-left: 20px;
}

/* Main secion */
.hacktober-heading {
  color: #2796ff;
  text-align: center;
  padding-top: 30px;
}

.cards-container {
  margin: 0 50px;
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background-color: transparent;
  width: 450px;
  border: 4px solid var(--postborder);
  padding: 20px 20px;
}
.card-heading {
  color: #fff;
  font-weight: 700;
  margin-bottom: 15px;
}
.card-description {
  color: #fff;
  font-size: 14px;
  margin-bottom: 15px;
}
.view-btn {
  width: fit-content;
}

/* Responsive Website */

@media (max-width: 320px){
    #header #logo img {
        max-height: 24px;
        max-width: 93px;
    }
    #about .content h2 {
        font-size: 16px;
    }

    #about .content h3 {
        font-size: 15px;
    }
    .section-header h2 {
        font-size: 23px;
    }
    #about {
        padding: 60px 0 0px 0;
    }
    .section-header p {
        font-size: 15px;
    }
    #services .box {
        padding: 12px;
    }
    #call-to-action .cta-title {
        font-size: 22px;
    }
    #call-to-action .cta-text {
        font-size: 12px;
    }
    #call-to-action .cta-btn {
        font-size: 12px;
        padding: 6px 26px;
    }
    #testimonials .testimonial-item p {
        font-size: 14px;
    }
    #testimonials .testimonial-item .quote-sign-left {
        width: 24px;
    }
    #testimonials .testimonial-item .quote-sign-right {
        width: 24px;
    }
    .enquiry-form .title {
        font-size: 16pt;
        margin-bottom: 7px;
    }
    .enquiry-form input, textarea {
        margin: 7px 0;
        padding: 10px;
        font-size: 12px;
    }
    .enquiry-form button {
        padding: 8px;
        font-size: 16px;
        margin: 3px auto 0;
    }
    #contact {
        padding: 13px 0;
    }
    .navbar-mobile a, .navbar-mobile a:focus {
        font-size: 12px;
    }
}
